# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environments
venv/
env/

# Ignore VS Code settings folder
.vscode/

# Ignore macOS system files (if applicable)
.DS_Store

# Ignore logs
*.log

# Ignore assignment PDF file
HW2.PDF
#Ignore temp files
tempCodeRunnerFile.py

#Ignore word files (documentation)
*.docx
 